<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link href="/javascripts/jsoneditor/dist/jsoneditor.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleIndex.css' />
    <% include ./analytics.ejs %>
  </head>
  <body>

    <header>
      <% include ./header.ejs %>
    </header>

    <main class="container" role="main">
        <div id="" class="filepath div_first">

        <% var pathKeys = Object.keys(apns); %>
        <% if(pathKeys.length > 0){ %>
          <% pathKeys.forEach(function(pathKey) { %>
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <div><%= pathKey %></div>
                </h5>
              </div>

              <div id="<%= pathKey %>" class="table-responsive collapse show">
                <table class="table table-striped table-sm card-body">
                  <colgroup>
                    <col style="width:100%">
                  </colgroup>
                  <thead>
                  </thead>
                  <tbody>
                        <tr>
                          <td>
                            <form method="POST" class="">
                                <input type="hidden" name="path" value="<%= pathKey %>">
                                <button type="submit" onclick="deleteButton(event);" class="btn btn-danger btn-sm" style="float: right; padding: 5px 10px; margin: 5px 0px 5px 10px;">Delete</button>
                            </form>
                            <button onclick="editButton(event);" class="btn btn-dark btn-sm" style="float: right; padding: 5px 10px; margin: 5px 0;">Show</button>
                            <div style="padding-right: 10px; overflow: hidden; word-break: break-all;">TOKEN : <%= apns[pathKey].token %></div>
                          </td>
                        </tr>
                  </tbody>
                </table>
              </div>
            </div>
          <% }); %>
        <% } %>


        </div>
        <div id="div-edit2" class="jumbotron json-edit">
          <form method="POST">
            <div class="form-group">
              <label for="path">분류 :</label>
              <input type="text" class="form-control" id="path" name="path" required>
            </div>
            <div class="form-group">
              <label for="token">token :</label>
              <input type="text" class="form-control" id="token" name="token" required>
            </div>

            <input type="radio" name="production" value="0" checked> 로컬빌드(sandbox) <input type="radio" name="production" value="1" style="margin-left: 10px;"> 알파빌드

            <div id="jsoneditor"></div>

            <div id="span_validate_result"></div>
            <br>
            <button onclick="validateJsonButton(event);" type="button" class="btn btn-dark">Validate</button>
            <button onclick="saveButton(event);" type="button" class="btn btn-secondary">SAVE</button>
            <button onclick="sendPush(event);" type="button" class="btn btn-success" style="float: right;">SEND PUSH</button>
          </form>
        </div>
    </main>
    </body>

    <% include ./commonScript.ejs %>
    <script src="/javascripts/jsoneditor/dist/jsoneditor.min.js"></script>
    <script src="/javascripts/jsonapi.js"></script>
    <script src="/javascripts/apns.js"></script>
</html>
